#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
}

:root {
  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
}


.custom-range {
  -webkit-appearance: none;
  width: 100%;
  height: 2px; /* Matches track thickness */
  background: black; /* Fallback background if no track style applies */
  border-radius: 5px;
  outline: none;
  margin: 10px 0; /* Optional spacing */
}

/* Webkit Browsers (Chrome, Safari, Edge) */
.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  border: 5px solid black; /* Optional for visibility */
  margin-top: -7px; /* Center thumb vertically relative to the track */
}

/* Track styling */
.custom-range::-webkit-slider-runnable-track {
  height: 4px;
  background: black;
  border-radius: 5px;
}






